.frame-holder {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

iframe {
    width: 50vw;
}