@media only screen and (max-width: 767px) {
    
    #send-button {
        width: 15%;
        height: 40px;
        float: right;
        margin-right:2.5%;
        margin-top:15px;
        font-size: 100%;
        background-color: #40a7cc;
        color: white;
        border-radius: 10px;
    }
    
    #send-button:hover {

        background-color: #65d6ff;
        width: 15%;
        margin-right: 2.5%;
        height: 50px;

    }
    
}