html,body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

input {
    display: block;
    border: none;
    border-bottom: 1px solid gray;
    margin-right: 2%;
}

.hide {
    display: none;
}

