* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

html,body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.container {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.log-in input {
    font-size: 150%;
    width: 100%;
    border: none;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 2%;
    border-radius: 10px;
}

.log-in input::placeholder {
    color: white;
}

.auth-buttons {
    display: flex;
    justify-content: space-around;
}

.holder {
    padding: 20%;
    background-image: url(log-in-background.jpg);
    background-size: cover;
    border-radius: 150px;
}

#canvas {
    border: none;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: filter 2s;
}

.blur {
    filter: blur(10px);
}

.top-header {
    font-size: 225%;
    color: white;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 10px;
}

.primary {
    color: pink;
}

.secondary {
    color:darkkhaki
}

#error-output {
    color: #ff7157;
    font-size: 150%;
    background-color: rgba(0, 0, 0, .7)
}

.warning {
    border-radius: 30px;
    background-color: red;
    padding-left: 5%;
    padding-right: 5%;
    color: yellow;
    font-size: 150%;
    margin-right: 2%;
}

#btnLogout {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    background-color: #77112d;
    color: #a5a5a5;
}

.page-title {
    width: 100vw;
    height: 10vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: linear-gradient(90deg, #1f74e6, #d826d1, #1f74e6);
    color: #50fd6b;
}

.search-holder {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1vh;
}
.search-box {
    width: 20vw;
    font-size: 150%;
}

.notes-holder {
    width: 100%;
    margin-top: 2vh;
    height: 72vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}

li {
    width: 400px;
    height: 400px;
    display: inline-block;
    border: solid;
}

.hide {
    display: none;
}




